<!DOCTYPE html5>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>SquidMap|既知のバグ</title>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <link rel="shortcut icon" href="/img/ico/favicon.ico" >
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    <body>

      <div id="header" class="effect1">
        <a href="/" style="text-decoration:none;color:white;"><p>SquidMap</p></a>
        <ul id="header_menu">
          <li><a href="/howto">使い方</a></li><!-- 
           --><li><a href="/bugs">既知のバグ</a></li><!-- 
           --><li><a href="/update">更新情報・予定</a></li>
        </ul>
      </div>
      <div id="main">
                <h1>既知のバグ</h1>
                  <p>var1.0.0</p>
                    <ul>
                      <li>部屋のメンバーが1人のときにページを更新するとデータが消える。</li>
                      <li>他の人がお絵描き中は、すべてのレイヤーが書き込み不可になっている。</li>
                      <li>入室時に同期されないことがある。 => 同期されていない側がページをリロードしてください。</li>
                    </ul>

                <p class="attention">※Wii U及びスプラトゥーンは、任天堂株式会社の商標であり、<br>当サイトは任天堂株式会社とは一切関係のないサービスです。</p>
                <p class="attention" >※本サイトで使用させていただいたマップの画像は全て<a href="http://balkan3.blog.fc2.com/blog-entry-2.html"  target="_blank">カンZYさんが作成された自作マップ</a>です。</p>
                <p class="attention" style="margin-bottom:20px;">※本サイトのロゴに使用させていただいたフォント<a href="http://frozenpandaman.github.io/inkling.html" target="_blank">INKLINGは　eli fessler さんが作成されたもの</a>です。</p>

                <p class="attention">バグ報告は必ず"<a href="/bugs">既知のバグ</a>"ページをご確認後、ご要望は<a href="/update">更新情報・予定</a>をご確認後に<a href="https://twitter.com/squid_map" target="_blank">@squid_map</a>までご連絡ください。</p>
</div>

    </body>
</html>
