<!DOCTYPE html5>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>SquidMap|使い方</title>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <link rel="shortcut icon" href="/img/ico/favicon.ico" >
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <style type="text/css">
          article {
            padding-left: 10px;
            margin-bottom: 20px;
          }
            article h4 {
              margin-bottom: 5px;
            }

        </style>
    <body>

      <div id="header" class="effect1">
        <a href="/" style="text-decoration:none;color:white;"><p>SquidMap</p></a>
        <ul id="header_menu">
          <li><a href="/howto">使い方</a></li><!-- 
           --><li><a href="/bugs">既知のバグ</a></li><!-- 
           --><li><a href="/update">更新情報・予定</a></li>
        </ul>
      </div>
      <div id="main">
                <h1>使い方</h1>
                <h2>部屋の作成と参加</h2>
                  <h4>新しい部屋の作成</h4>
                  トップページの"Create a new room"ボタンをクリックし、出てきたダイアログに全項目を入力してください。<br>
                  "Create"ボタンをクリックすることで部屋が作成され、自動的に入室します。
                  <h4>既存の部屋に参加する</h4>
                  まず、部屋の作成者から部屋の名前とパスワードを伝えて貰いましょう。<br>
                  トップページの"join a room"をクリックし、出てきたダイアログに部屋の名前、パスワードを入力し、<br>
                  最後にあなたのニックネームを入力してから"join"をクリックしてください。<br>
                  問題がなければ参加できます。<br><br>

                  部屋の作成・参加時に入力した名前はメンバーリストに表示されます。

                <h2>お絵描き</h2>

                <article>
                    <h4>
                      描く
                    </h4>
                    ペイントのような操作でお絵描きできます。12種類の色と、3種類のペンの大きさ、消しゴム、ペンの2種類の機能を選ぶことができます。
                    <h4>レイヤー</h4>
                    レイヤーリストの"追加"をクリックすると新しいレイヤーが追加されます。<br>レイヤーリストの編集したいレイヤーをクリックすることでレイヤーが選択されます。<br>
                    レイヤーリストの上にあるopacityスライドで、レイヤーそのものの透過率を変更できます。<br>
                    レイヤーはドラッグ&ドロップで位置を入れ替えることができます。<bt>
                    レイヤーを選択した状態で削除をクリックすると削除できます。
                </article>
                <h2>ブキアイコン</h2>
                <article>
                    <h4>追加</h4>
                    サイドバーから"ブキ"タブをクリックし、好きなブキアイコンをドラッグ&ドロップ
                    <h4>動かす</h4>
                    追加したブキアイコンをドラッグ
                    <h4>削除</h4>
                    削除したいブキアイコンをダブルクリック
                </article>

                <p class="attention">※Wii U及びスプラトゥーンは、任天堂株式会社の商標であり、<br>当サイトは任天堂株式会社とは一切関係のないサービスです。</p>
                <p class="attention" >※本サイトで使用させていただいたマップの画像は全て<a href="http://balkan3.blog.fc2.com/blog-entry-2.html"  target="_blank">カンZYさんが作成された自作マップ</a>です。</p>
                <p class="attention" style="margin-bottom:20px;">※本サイトのロゴに使用させていただいたフォント<a href="http://frozenpandaman.github.io/inkling.html" target="_blank">INKLINGは　eli fessler さんが作成されたもの</a>です。</p>

                <p class="attention">バグ報告は必ず"<a href="/bugs">既知のバグ</a>"ページをご確認後、ご要望は<a href="/update">更新情報・予定</a>をご確認後に<a href="https://twitter.com/squid_map" target="_blank">@squid_map</a>までご連絡ください。</p>
</div>

    </body>
</html>
