<!DOCTYPE html5>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>SquidMap</title>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.chromeContext_myarrange.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <link rel="shortcut icon" href="/img/ico/favicon.ico" >
 		<link rel="stylesheet" href="/css/jquery-ui-dialog.css">
    <script type="text/javascript">
    $(function(){
        var dialog1 = $('#dialog-form1').dialog({
          autoOpen: false,
          height: 400,
          width:350,
          modal:true,
          buttons:{
            Cancel:function(){
              dialog1.dialog('close');
            }
          }
        });

        var dialog2 = $('#dialog-form2').dialog({
          autoOpen: false,
          height: 400,
          width:350,
          modal:true,
          buttons:{
            Cancel:function(){
              dialog2.dialog('close');
            }
          }
        });
          $('#create-new-room').button().on('click',function(){
            dialog1.dialog('open');
          });
          $('#join-room').button().on('click',function(){
            dialog2.dialog('open');
          });
    });
        </script>
        <link rel="stylesheet" type="text/css" href="/css/index.css">

    <body>

      <div id="header" class="effect1">
        <a href="/" style="text-decoration:none;color:white;"><p>SquidMap</p></a>
        <ul id="header_menu">
        	<li><a href="/howto">使い方</a></li><!-- 
        	 --><li><a href="/bugs">既知のバグ</a></li><!-- 
        	 --><li><a href="/update">更新情報・予定</a></li>
        </ul>
      </div>
      <div id="main">
            <!-- <h1 style="padding-top:50px;">SquidMap</h1> -->
            <img src="img/ico/logo.jpg" width="400">
                <h2>Splatoon<br>リアルタイムオンライン作戦ボード</h2>


                <p>好きなMapにお絵描きしながら<br>ブキを置いてポジションを決めて<br>作戦を立てよう。</p>

                <p class="attention">※Wii U及びスプラトゥーンは、任天堂株式会社の商標であり、<br>当サイトは任天堂株式会社とは一切関係のないサービスです。</p>
                <p class="attention" >※本サイトで使用させていただいたマップの画像は全て<a href="http://balkan3.blog.fc2.com/blog-entry-2.html"  target="_blank">カンZYさんが作成された自作マップ</a>です。</p>
                <p class="attention" style="margin-bottom:30px;">※本サイトのロゴに使用させていただいたフォント<a href="http://frozenpandaman.github.io/inkling.html" target="_blank">INKLINGは　eli fessler さんが作成されたもの</a>です。<br><br>

                	バグ報告は必ず"<a href="/bugs">既知のバグ</a>"ページをご確認後、<br>ご要望は<a href="/update">更新情報・予定</a>をご確認後に<a href="https://twitter.com/squid_map" target="_blank">@squid_map</a>までご連絡ください。</p>
          <button id="create-new-room">Create a new room</button>
          <button id="join-room">Join a room</button>

          <div class="frame"><img src="img/top-image.png"></div>
          <div id="dialog-form1" title="Create new room">
            <form method="POST" class="form-inline" action="create_room">
              <fieldset>
                <label class="nameLabel" for="room">Room Name:</label>
                <input type="text" required class="form-control" id="room" name='room'><br>
                <label class="nameLabel" for="pass">Password:</label>
                <input type="password" required class="form-control" id="pass" name='pass'><br>
                <label class="nameLabel" for="name">Your Name:</label>
                <input type="text" required class="form-control" id="name" name='name'><br>

                <button type="submit" class="btn btn-primary" id="sendButton">Create</button>
              </fieldset>
            </form>
          </div>

          <div id="dialog-form2" title="Join a room">
            <form method="POST" class="form-inline" action="do_join">
              <label class="nameLabel" for="room" >Room Name:</label>
              <input type="text" required class="form-control" id="room" name='room'><br>
              <label class="nameLabel" for="pass">Password:</label>
                <input type="password" required class="form-control" id="pass" name="pass"><br>
                <label class="nameLabel" for="name">Your Name:</label>
                <input type="text" required class="form-control" id="name" name="name"><br>
              <button type="submit">join</button>
            </form>
          </div>
          <% if(err_message){%>
          	<p id="err_message"><%= err_message%></p>
          <%}%>
</div>

    </body>
</html>
