<!DOCTYPE html5>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Squid Map | <%= session.name %> in <%= session.room %>
        </title>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <script type="text/javascript">

                var socket = io().connect('http://localhost:3000',{
                  'reconnect': true,
                  'reconnection delay': 500,
                  'max reconnection attempts': 100
                });
                const room = '<%= session.room %>';
                const name = '<%= session.name %>';

                socket.on('connect', function(data){
                    console.log('connect session:');
                });
                socket.emit('c2s_join',{room:room,name:name});


        </script>
        <script type="text/javascript" src="/js/squid_map.js"></script>
        <link rel="shortcut icon" href="/img/ico/favicon.ico" >
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="/css/squid_map.css">
    </head>
    <body>
      <div id="header" class="effect1">
        <p><a href="/" style="text-decoration:none;color:white;">SquidMap</a></p>
        <ul id="header_menu">
          <li><a href="/howto" target="_blank">使い方</a></li><!-- 
           --><li><a href="/bugs" target="_blank">既知のバグ</a></li><!-- 
           --><li><a href="/update" target="_blank">更新情報・予定</a></li>
        </ul>
      </div>
      <div id="main">
        <div id="right_sidebar">
            <h5>メンバーリスト</h5>
            <ul id="member_list">
            </ul>
          <div>
            
          </div>
        </div>
      	<div id="sidebar">
              <ul>
                  <li><a href="#tabs-1">ツール</a></li>
                  <li><a href="#tabs-2">ブキ</a></li>
              </ul>
              <div id="tabs-1">
                      <div class="color" style="background-color:#FFFFFF"></div>
                      <div class="color" style="background-color:#DCDDDD"></div>
                      <div class="color" style="background-color:#9ea1a3"></div>
                      <div class="color on" style="background-color:#2B2B2B"></div>
                      <div class="color" style="background-color:#D9333F"></div>
                      <div class="color" style="background-color:#762f07"></div>
                      <div class="color" style="background-color:#F5B199"></div>
                      <div class="color" style="background-color:#FFDB4F"></div>
                      <div class="color" style="background-color:#7EBEAB"></div>
                      <div class="color" style="background-color:#2F5D50"></div>
                      <div class="color" style="background-color:#89C3EB"></div>
                      <div class="color" style="background-color:#706CAA"></div>
                      <hr>
                      <div class="psize on" data-size="2">S</div>
                      <div class="psize" data-size="8">M</div>
                      <div class="psize" data-size="16">L</div>
                      <hr>
                      <div id="pen" class="tools on" data-tool="pen"><img src="img/ico/pencil.png" height="20" width="20"></div>
                      <div id="eraser" class="tools" data-tool="eraser"><img src="img/ico/eraser.png" height="20" width="20"></div>
                      <!-- <div id="save" class="tools" style='border:none;' data-tool="save"><a id="save_a" download="a.json"><img src="img/ico/save.png" height="20" width="20"></a></div> -->
                      
                      
                      <hr>
                      <div id="layer_opacity" class="slider"><span id="sentence">opacity</span></div>
                      <br>
                      <table id="layer_list" border="1">
                        <tr id="head">
                          <th>レイヤー名</th><th></th>
                        </tr>
                        <tr id="layer0" class="layer on" data-layer="0">
                          <td>Master</td><td class="see" data-view='true'>○</td>
                        </tr>


                        <tr id="addlayer">
                         <td>新規追加</td><td></td>
                        </tr>
                        <tr id="deletelayer">
                          <td>削除</td><td></td>
                        </tr>
                      </table>

                      <!-- undo redo 機能はまた今度 -->
                      <!-- <div id="undo"></div>
                      <div id="redo"></div> -->
              </div>
              <div id="tabs-2">
                  <ul id="weapon_list">
                        <li class="origin"><img src="img/weapon/spl-bl1.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-bl2.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-bl3.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-bl4.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-bl5.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-bl6.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-bl7.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-bl8.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-bl9.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-bl10.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-bl11.jpg" height="40" width="48"></li>

                        <li class="origin"><img src="img/weapon/spl-ch1.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch2.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch3.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch4.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch5.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch6.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch7.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch8.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch9.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch10.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch11.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch12.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch13.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch14.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch15.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-ch16.jpg" height="40" width="48"></li>

                        <li class="origin"><img src="img/weapon/spl-r1.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r2.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r3.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r4.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r5.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r6.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r7.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r8.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r9.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r10.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r11.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r12.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-r13.jpg" height="40" width="48"></li>

                        <li class="origin"><img src="img/weapon/spl-s1.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s2.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s3.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s30.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s31.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s32.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s4.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s5.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s6.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s7.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s8.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s9.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s10.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s11.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s12.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s13.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s14.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s15.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s16.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s17.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s18.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s19.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s20.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s21.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s22.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s23.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s24.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s25.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s26.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s27.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s28.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-s29.jpg" height="40" width="48"></li>

                        <li class="origin"><img src="img/weapon/spl-sl1.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sl2.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sl3.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sl4.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sl5.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sl6.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sl7.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sp1.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sp2.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sp3.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sp4.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sp5.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sp6.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sp7.jpg" height="40" width="48"></li>
                        <li class="origin"><img src="img/weapon/spl-sp8.jpg" height="40" width="48"></li>
                  </ul>
              </div>
          </div>
      	<div id="view" data-mapnum="0">
          <div id="mm"><select id="map_select_menu">
              <option value="0" selected>ハコフグ倉庫</option>
              <option value="1">シオノメ油田</option>
              <option value="2">デカライン高架下</option>
              <option value="3">Bバスパーク</option>
              <option value="4">アロワナモール</option>
              <option value="5">ホッケふ頭</option>
              <option value="6">モズク農園</option>
              <option value="7">ネギトロ炭鉱</option>
              <option value="8">タチウオパーキング</option>
              <option value="9">モンガラキャンプ場</option>
              <option value="10">ヒラメが丘団地</option>
              <option value="11">マサバ海峡大橋</option>
              <option value="12">キンメダイ美術館</option>
              <option value="13">マヒマヒリゾート＆スパ(変更前)</option>
              <option value="14">マヒマヒリゾート＆スパ(変更後)</option>
              <option value="15">ショッツル鉱山</option>
              <option value="16">アンチョビットゲームズ</option>
          </select></div>
          <canvas id="draw_area0" width="800" height="600"></canvas>
      	</div>
      </div>
    </body>
</html>
