<!DOCTYPE html5>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Squid Map | <%= session.name %> in <%= session.room %>
        </title>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
         <meta name="viewport" content="width=device-width; initial-scale=1.0" />
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript">

                var socket = io().connect('http://localhost:3000',{
                  'reconnect': true,
                  'reconnection delay': 500,
                  'max reconnection attempts': 100
                });
                const room = '<%= session.room %>';
                const name = '<%= session.name %>';

                socket.on('connect', function(data){
                    console.log('connect session:');
                });
                socket.emit('c2s_join',{room:room,name:name});


        </script>
        <script type="text/javascript" src="/js/squid_map.js"></script>
        <link rel="shortcut icon" href="/img/ico/favicon.ico" >
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="/css/squid_map.css">
    </head>
    <body>
      <div id="header" class="effect1">
        <p><a href="/" style="text-decoration:none;color:white;">SquidMap</a></p>
        <ul id="header_menu">
          <li><a href="/howto" target="_blank">使い方</a></li><!-- 
           --><li><a href="/bugs" target="_blank">既知のバグ</a></li><!-- 
           --><li><a href="/update" target="_blank">更新情報・予定</a></li>
        </ul>
      </div>
      <div id="main">
        <div id="right_sidebar">
            <h5>メンバーリスト</h5>
            <ul id="member_list">
            </ul>
          <div>
            
          </div>
        </div>
      	<div id="sidebar">
              <ul>
                  <li><a href="#tabs-1">ツール</a></li>
                  <li><a href="#tabs-2">MAP</a></li>
              </ul>
              <div id="tabs-1">
                      <div class="color" style="background-color:#FFFFFF"></div>
                      <div class="color" style="background-color:#DCDDDD"></div>
                      <div class="color" style="background-color:#9ea1a3"></div>
                      <div class="color on" style="background-color:#2B2B2B"></div>
                      <div class="color" style="background-color:#D9333F"></div>
                      <div class="color" style="background-color:#762f07"></div>
                      <div class="color" style="background-color:#F5B199"></div>
                      <div class="color" style="background-color:#FFDB4F"></div>
                      <div class="color" style="background-color:#7EBEAB"></div>
                      <div class="color" style="background-color:#2F5D50"></div>
                      <div class="color" style="background-color:#89C3EB"></div>
                      <div class="color" style="background-color:#706CAA"></div>
                      <hr>
                      <div id="pen" class="tools on" data-tool="pen"><img src="img/ico/pencil.png" height="20" width="20">
                        <div id="pen_color"></div>
                      </div>
                      <div id="eraser" class="tools" data-tool="eraser"><img src="img/ico/eraser.png" height="20" width="20"></div>
                      <p style="margin:0 0 5px 0;font-size:0.7em;">Size:</p>
                      <div id="pen_size" class="slider"><span class="sentence"></span></div>

                      <hr>
                      
                      <a id="save_a" download="download.png"><div id="save" class="tools" style='border:none;' data-tool="save"><img src="img/ico/save_img.png" height="20" width="20"></div></a>
                      
                      
                      <hr>
                      <div id="layer_opacity" class="slider"><span class="sentence">opacity</span></div>
                      <br>
                      <table id="layer_list" border="1">
                        <tr id="head">
                          <th>レイヤー名</th><th></th><th></th>
                        </tr>
                        <tr id="layer0" class="layer on" data-layer="0">
                          <td><span id="layer_tag0" class="layer_tag">Layer0</span>
                            <input id="layer_tag0-edit" class="layer_tag_edit" name="layer_tag0" style="display:none;"></input>
                          </td><td class="see" data-view='true'></td>
                          <td class="clear_rect"></td>
                        </tr>
                        <tr id="layer1" class="layer" data-layer="1">
                          <td><span id="layer_tag1" class="layer_tag">Layer1</span>
                            <input id="layer_tag1-edit" class="layer_tag_edit" name="layer_tag1" style="display:none;"></input>
                          </td>
                          <td class="see" data-view='true'></td>
                          <td class="clear_rect"></td>
                        </tr>
                        <tr id="layer2" class="layer" data-layer="2">
                          <td><span id="layer_tag2" class="layer_tag">Layer2</span>
                            <input id="layer_tag2-edit" class="layer_tag_edit" name="layer_tag2" style="display:none;"></input>
                          </td>
                          <td class="see" data-view='true'></td>
                          <td class="clear_rect"></td>
                        </tr>
                        <tr id="layer3" class="layer" data-layer="3">
                          <td><span id="layer_tag3" class="layer_tag">Layer3</span>
                            <input id="layer_tag3-edit" class="layer_tag_edit" name="layer_tag3" style="display:none;"></input>
                          </td>
                          <td class="see" data-view='true'></td>
                          <td class="clear_rect"></td>
                        </tr>
                      </table>

                      <!-- undo redo 機能はまた今度 -->
                      <!-- <div id="undo"></div>
                      <div id="redo"></div> -->
              </div>
              <div id="tabs-2">
                  <select  name="rule">
                    <option value="TurfWar">ナワバリ</option>
                    <option value="SplatZones">ガチエリア</option>
                    <option value="TowerControl">ガチヤグラ</option>
                    <option value="Rainmaker">ガチホコ</option>
                    <option value="ClamBlitz">ガチアサリ</option>
                  </select>
                  <ul id="map_list">
                  </ul>
              </div>
          </div>
      	<div id="view" class="a" data-mapnum="0">
          <canvas id="draw_area-1" width="800" height="600" data-id="-1" style='display:none;'></canvas>
          <canvas id="draw_area0" class="canvas" width="800" height="600" data-id="0"></canvas>
          <canvas id="draw_area1" class="canvas" width="800" height="600" data-id="1"></canvas>
          <canvas id="draw_area2" class="canvas" width="800" height="600" data-id="2"></canvas>
          <canvas id="draw_area3" class="canvas" width="800" height="600" data-id="3"></canvas>
      	</div>
      </div>
      <div id="footer">
        <input type="radio" name="mode" val="move" id="move_mode"/><label for="move_mode" class="mode_sentence"></label>
        <input type="radio" name="mode" val="pen" id="pen_mode"/><label for="pen_mode" class="mode_sentence active"></label>
      </div>
    </body>
</html>
