        html,body {
          padding: 0 0;
          margin: 0 0;
          width: 100vw;
          height: 100%;
        }
        #header {
          position: fixed;
          width: 100%;
          height: 45px;
          margin: 0 0;
          z-index: 99;
          background-color: rgb(100,200,200);
        }
          #header p {
          cursor: pointer;
            padding-left:10px;
            color: white;
            font-size: 2em;
            width: 200px;
            margin: 0;
          }

          #header ul {
          	height: 100%;
          	position: absolute;
          	left: 200px;
          	bottom:0;
          	list-style-type: none;
          	padding: 0;
          	margin: 0;
          }
          	#header ul li {
          		text-align: center;
          		display: inline-block;
          		border-right: 1px solid white;
          		padding: 5px;
          		color:white;
          		padding-top: calc( (45px - 1em)/2 );
          	}

            #header ul li:hover{
              background-color: rgba(0,100,250,0.2);
            }

          	#header ul li:first-of-type{
          		border-left: 1px solid white;
          	}
          	#header a {
          		text-decoration: none;
          		color:white;
          		cursor: pointer;
          	}

#main{
  position: relative;
  top: 45px;
  width: 100vw;
  height: calc(100% -45px );
  margin:0 auto;
  padding-left: 0px;
}
  #main p,h2 {
  padding-left: 10px;
  }
  #main .frame {
      position: absolute;
      top: 50px;
      left:500px;
      box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  }
    .frame img{
      width: 700px;
      border-radius: 5px;
    }
      label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    p.attention {
      font-size: 0.5em;
      padding: 0;
      margin: 0;
      color: gray;
    }

    #err_message {
    	font-size: 1em;
    	padding: 0;
    	margin: 0;
    	color:red;
    }

    #create-new-room {
      margin: 20px;
    }

    #footer {
      display: none;
    }

@media screen and (max-width: 480px) {
        #header {
          position: fixed;
          width: 100vw;
          height: 45px;
          margin: 0 0;
          z-index: 99;
          background-color: rgb(100,200,200);
        }
          #header p {
          cursor: pointer;
            padding-left:10px;
            color: white;
            font-size: 2em;
            height: 45px;
            margin: 0;
          }
          #header ul {
            position: static;
            list-style-type: none;
            background-color: gray;
            height: 20px;
            padding-left: 10px;
            margin: 0;
          }
          #header ul li {
            box-sizing:border-box;
            height: 20px;
            font-size: 10px;
            padding-top: 5px;
          }

#main{
  position: relative;
  top: 90px;
  width: 100vw;
  height: calc(100% -90px );
  margin:0 auto;
  padding-left: 10px;
  box-sizing:border-box;
}
  #main p {
  }
  #main img {
    margin: 0 0 0 -10px;
    width: 100vw;
  }
  #main .frame {
      display: none;
    }
      label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    p.attention {
      font-size: 0.5em;
      padding: 0;
      margin: 0;
      color: gray;
    }

    #create-new-room,#join-room{
      box-sizing:border-box;
      width: 35vw;
      margin-left: 10vw;
      margin-right: 0vw;
    }

    #attention_box {
      padding-top: 10px;
    }

    #err_message {
      font-size: 1em;
      padding: 0;
      margin: 0;
      color:red;
    }

}
